html, body
{
    width: 100%;
    height: 100%;
    background-color: #303345;
    overflow: hidden;
}

div.login
{
    background-color:  #504c61;
    margin: auto;
    margin-top: 15%;
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    
}

div.login h1
{
    font-family: 'Grandstander', cursive;
    position: relative;
    text-align: center;
    background-image: linear-gradient(to right, indigo, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 50px;
}

div.login input
{
    position: relative;
    top: 100px;
    left: 105px;
    height: 20px;
    width: 200px;
    outline: none;
    text-align: center;
    border-radius: 25px;
    background-color: #504c61;
    border: 2px solid #9f0fbf;
}

div.login button
{
    position: relative;
    background-color: #504c61;
    top: 150px;
    height: 30px;
    width: 200px;
    left: 105px;
    outline: none;
    border-radius: 25px;
    border-color: #10e3a0;
    border: 2px solid #10e3a0;
}

div.login button:hover
{
    cursor: pointer;
}
